<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="SqlServer"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=localhost;Integrated Security=True;Initial Catalog=Northwind;Pooling=true;" providerName="System.Data.SqlClient"/>
    <add name="Oracle" connectionString="Server=OracleServer;User Id=test;Password=test;Pooling=true;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>

