<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <databases>
    <add name="microsoft sql server"
         providerName="System.Data.SqlClient"
         dbType="SqlServer"
         entityProviderName="IQToolkit.Data.SqlClient"
         parameterMarker="@{0}"
         parameterNameMarker="@{0}"         
         parameterType="SqlDbType"
         schemaInfoType="SimpleDatabase.SqlServerSchemaInfo"
     />
    <add name="oracle"
         providerName="System.Data.OracleClient"
         dbType="Oracle"
         entityProviderName="IQToolkit.Data.OracleClient"
         parameterMarker=":{0}"
         parameterNameMarker="{0}"         
         parameterType="OracleType"
         schemaInfoType="SimpleDatabase.OracleSchemaInfo" 
     />
  </databases>
</configuration> 
